@model BusStation.Models.StopList

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности об списке остановок</h1>

<div>
    <h4>Список остановок</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @string.Format("{0} {1} - {2}", Model.Route.RouteNumber, Model.Route.DepertureCity, Model.Route.ArrivalCity)
            @*@Html.DisplayFor(model => model.Route.RouteNumber)*@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
