@model BusStation.Models.Stop

@{
    ViewData["Title"] = "Create";
}

<h1>Добавление остановки</h1>

<h4>Остановка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StopName" class="control-label"></label>
                <input asp-for="StopName" class="form-control" />
                <span asp-validation-for="StopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopCity" class="control-label"></label>
                <input asp-for="StopCity" class="form-control" />
                <span asp-validation-for="StopCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeToStop" class="control-label"></label>
                <input asp-for="TimeToStop" class="form-control" />
                <span asp-validation-for="TimeToStop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
