@model BusStation.Models.DriversComposition

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение состава водителей</h1>

<h4>Состав водителей</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Driver1Id" class="control-label"></label>
                @*<select asp-for="Driver1Id" class="form-control" asp-items="ViewBag.Driver1Id"></select>*@
                @Html.DropDownList("Driver1Id", ViewData["Driver1Id"] as SelectList, new { @class = "form-control" })
                <span asp-validation-for="Driver1Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Driver2Id" class="control-label"></label>
                @*<select asp-for="Driver2Id" class="form-control" asp-items="ViewBag.Driver2Id"></select>*@
                @Html.DropDownList("Driver2Id", ViewData["Driver2Id"] as SelectList, "-- Без второго водителя --", new { @class = "form-control" })
                <span asp-validation-for="Driver2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
