@model BusStation.Models.Route

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение маршрута</h1>

<h4>Маршрут</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RouteNumber" class="control-label"></label>
                <input asp-for="RouteNumber" class="form-control" />
                <span asp-validation-for="RouteNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepertureCity" class="control-label"></label>
                <input asp-for="DepertureCity" class="form-control" />
                <span asp-validation-for="DepertureCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalCity" class="control-label"></label>
                <input asp-for="ArrivalCity" class="form-control" />
                <span asp-validation-for="ArrivalCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelTime" class="control-label"></label>
                <input asp-for="TravelTime" class="form-control" id="TimeToStopInput" />
                <span asp-validation-for="TravelTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

                <script>
    document.addEventListener("DOMContentLoaded", function () {
        var timeToStopInput = document.getElementById("TimeToStopInput");

        timeToStopInput.addEventListener("change", function () {
            if (timeToStopInput.value === "00:00") {
                timeToStopInput.value = ""; // Очистить значение поля
            }
        });
    });
</script>