@{
    ViewData["Title"] = "Home Page";
}

<style>
      .button {
        display: block;
        width: 100%;
        height: 200px;
        position: relative;
        background-color: #0077cc;
        color: white;
        text-align: center;
        overflow: hidden;
        margin-bottom: 10px;
      }

      .button img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
      }

      .button .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .button h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .button p {
        font-size: 16px;
        font-weight: normal;
      }

      .contact-info {
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .working-hours {
        margin-top: 20px;
      }
      
      .working-hours p {
        margin: 5px 0;
      }
    </style>

<div class="text-center">
    <h1 class="display-4">Автостанция</h1>

    <div>
        <a href="/Home/Moscow" class="button">
            <img src="/Files/moscowImg.jpg" alt="Image 1">
            <div class="text-container">
                <h2>Муром - Москва</h2>
                <p>Списки рейсов и информация о остановках</p>
            </div>
        </a>

        <a href="/Home/Nizny" class="button">
            <img src="/Files/niznyImg.jpg" alt="Image 2">
            <div class="text-container">
                <h2>Муром - Нижний Новгород</h2>
                <p>Списки рейсов и информация о остановках</p>
            </div>
        </a>

        <a href="/Home/Vladimir" class="button">
            <img src="/Files/vladimirImg.jpg" alt="Image 3">
            <div class="text-container">
                <h2>Муром - Владамир</h2>
                <p>Списки рейсов и информация о остановках</p>
            </div>
        </a>

        <a href="/Home/Ryazan" class="button">
            <img src="/Files/ryazanImg.jpg" alt="Image 4">
            <div class="text-container">
                <h2>Муром - Рязань</h2>
                <p>Списки рейсов и информация о остановках</p>
            </div>
        </a>
    </div>

    <div>
        <div class="contact-info">
            <p>Справочная</p>
            <p>+7 (49234) 3-24-65, +7 (49234) 4-15-71</p>
        </div>
    
        <div class="contact-info">
          <p>Адрес автовокзала</p>
          <p>Владимирская область, г. Муром, ул. Московская, д.94</p>
        </div>
    
        <div class="working-hours">
          <p>Режим работы</p>
          <p>Ежедневно, 05:00 - 24:00</p>
          <p>Старший кассир: 05:00 до 17:00</p>
          <p>Касса №1: 11:00 до 24:00</p>
          <p>Касса №2: с 07:30 до 19:30</p>
        </div>
    </div>

</div>
