@{
    ViewData["Title"] = "Privacy Policy";
}

<style>

      .contact-info {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .working-hours {
        margin-top: 20px;
      }

      .working-hours p {
        margin: 5px 0;
      }
    </style>
    <h1>Политика конфиденциальности</h1>
    <div>
        <h1>ПОЛИТИКА В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ В ООО "КАПИТАЛ"</h1>
        <p>Настоящая политика конфиденциальности действует в отношении всей информации, которую Общество с ограниченной ответственностью «Капитал» ОГРН 1137017017697 (далее — «Общество») может получить о Пользователе во время использования им данного сайта (далее — «Сайт»).</p>

        <h2>Сайт</h2>
        <p>Сайт — представляет собой совокупность связанных между собой текстов, графических элементов, фото и видео материалов, программ для ЭВМ, программных модулей, баз данных, веб-страниц и иных элементов, предназначенных для доведения информации до всеобщего сведения, получения информации, обмена и осуществления иного функционала в сети Интернет.</p>

        <h2>Согласие Пользователя</h2>
        <p>Пользователь путем проставления «галочки» на странице Сайта выражает свое безоговорочное согласие со всеми условиями настоящей Политики и обязуется соблюдать ее условия или прекратить использование Сайта.</p>

        <h2>Персональные данные Пользователя</h2>
        <p>В рамках настоящей Политики под «персональными данными Пользователя» понимается:</p>
        <ul>
            <li>любая персональная информация, которую Пользователь предоставляет о себе самостоятельно либо о третьих лицах по их поручению при регистрации на Сайте и/или в процессе оформления бронирования, покупки и/или прочих услуг на Сайте;</li>
            <li>информация: фамилия, имя, отчество, дата рождения, пол, гражданство, тип, серия и номер документа удостоверяющего личность, мобильный телефон, адрес электронной почты.</li>
        </ul>

        <h2>Цели обработки персональных данных</h2>
        <p>Согласием с настоящей Политикой Пользователь, а также лица, в интересах которых Пользователь соглашается с настоящей Политикой, выражают свое согласие на обработку Обществом и (или) поставщиками услуг, оказываемых с помощью Сайта, персональных данных в следующих целях:</p>
        <ul>
            <li>исполнение настоящей Политики (оказание услуг по оформлению билетов и прочее).</li>
        </ul>

        <h2>Действие согласия и отзыв</h2>
        <p>Настоящее согласие действует до достижения целей обработки персональных данных, с момента получения согласия (акцепта) от Пользователя с условиями настоящей Политики. Действие согласия прекращается на основании письменного заявления, которое подписывается Пользователем и вручается, либо направляется заказным письмом с уведомлением о вручении Обществу по адресу его местонахождения.</p>
        <p>В случае отзыва согласия на обработку персональных данных вся полученная от пользователя информация, в том числе логин и пароль, удаляется в течение тридцати дней с даты поступления указанного отзыва, после чего Пользователь не будет иметь доступ к Сайту с их помощью.</p>

        <h2>Предоставление персональных данных третьим лицам</h2>
        <p>В отношении персональных данных Пользователей сохраняется их конфиденциальность. Общество вправе передать персональные данные пользователя третьим лицам в следующих случаях:</p>
        <ul>
            <li>пользователь выразил своё согласие на такие действия;</li>
            <li>передача необходима в рамках использования пользователем Сайта либо для оказания предусмотренных ими услуг;</li>
            <li>передача предусмотрена законодательством Российской Федерации в рамках установленной законодательством процедуры;</li>
            <li>в целях обеспечения возможности защиты прав и законных интересов Общества или третьих лиц в случаях, когда Пользователь нарушает условия настоящей Политики.</li>
        </ul>

        <h2>Защита персональных данных</h2>
        <p>Для защиты персональных данных Пользователей от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также иных неправомерных действий с ними третьих лиц применяются необходимые и достаточные организационные и технические меры. Пользователь информирован о том, что его IP-адрес во время использования Сайта не регистрируется.</p>

        <h2>Использование cookies</h2>
        <p>С целью ускорения исполнения услуг, а также в иных целях, предусмотренных настоящей Политикой, программным обеспечением устройства с которого осуществляется доступ к Сайту компании, могут быть использованы учетные строки (cookies), идентифицирующие каждого пользователя с максимальной быстротой, для повышения скорости работы программ и упрощения ввода данных Пользователя. Эти данные не хранятся в информационной системе Сайта, а только на устройстве пользователя.</p>

        <h2>Ссылки на сторонние сайты</h2>
        <p>Общество не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте.</p>

        <h2>Изменения в Политике конфиденциальности</h2>
        <p>Настоящая Политика может быть изменена без предварительного уведомления или согласия Пользователя. Новая редакция Политики вступает в силу с момента её размещения, если иное не предусмотрено новой редакцией Политики.</p>

        <h2>Применимое право</h2>
        <p>К настоящей Политике и отношениям между Пользователями и Обществом, возникающим при ее использовании, подлежит применению право Российской Федерации.</p>
    </div>

<div>
    <div class="contact-info">
        <p>Справочная</p>
        <p>+7 (49234) 3-24-65, +7 (49234) 4-15-71</p>
    </div>

    <div class="contact-info">
        <p>Адрес автовокзала</p>
        <p>Владимирская область, г. Муром, ул. Московская, д.94</p>
    </div>

    <div class="working-hours">
        <p>Режим работы</p>
        <p>Ежедневно, 05:00 - 24:00</p>
        <p>Старший кассир: 05:00 до 17:00</p>
        <p>Касса №1: 11:00 до 24:00</p>
        <p>Касса №2: с 07:30 до 19:30</p>
    </div>
</div>
