@{
    ViewData["Title"] = "Ryazan";
}

<style>

      .contact-info {
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .working-hours {
        margin-top: 20px;
      }
      
      .working-hours p {
        margin: 5px 0;
      }
    </style>

<h1 class="display-4">Автостанция</h1>

<div>
    <h1>Наша компания</h1>
    <p>Наша компания предоставляет коммерческие рейсы по направлению Муром - Рязань на комфортабельных автобусах с высоко квалифицированными водителями. Автобусы оснащены кондиционерами и обогревателями для поддержания комфортной температуры в салоне в зависимости от времени года.</p>

    <h2>Список рейсов:</h2>

    <h3>302 Муром - Рязань</h3>
    <ul>
        <li>Количество мест: 24</li>
        <li>Время в пути: 2:40</li>
        <li>Количество остановок: 10</li>
    </ul>

    <h3>303 Муром - Рязань</h3>
    <ul>
        <li>Количество мест: 28</li>
        <li>Время в пути: 2:40</li>
        <li>Количество остановок: 10</li>
    </ul>

    <h3>304 Муром - Рязань</h3>
    <ul>
      <li>Количество мест: 32</li>
      <li>Время в пути: 2:40</li>
      <li>Количество остановок: 10</li>
    </ul>

    <h3>305 Муром - Рязань</h3>
    <ul>
      <li>Количество мест: 36</li>
      <li>Время в пути: 2:40</li>
      <li>Количество остановок: 10</li>
    </ul>

    <h2>Список остановок:</h2>
    <ol>
        <li>Автовокзал "Атлантис"</li>
        <li>Максимовка</li>
        <li>Автостанция Меленки</li>
        <li>Поворот на Выкуши</li>
        <li>Черёмушки</li>
        <li>Залесное</li>
        <li>Ломакино</li>
        <li>Верещугино</li>
        <li>Ершово</li>
        <li>Автовокзал Рязань</li>
    </ol>
</div>

<div>
    <div class="contact-info">
        <p>Справочная</p>
        <p>+7 (49234) 3-24-65, +7 (49234) 4-15-71</p>
    </div>

    <div class="contact-info">
        <p>Адрес автовокзала</p>
        <p>Владимирская область, г. Муром, ул. Московская, д.94</p>
    </div>

    <div class="working-hours">
        <p>Режим работы</p>
        <p>Ежедневно, 05:00 - 24:00</p>
        <p>Старший кассир: 05:00 до 17:00</p>
        <p>Касса №1: 11:00 до 24:00</p>
        <p>Касса №2: с 07:30 до 19:30</p>
    </div>
</div>